:root
{
    --backDark : rgb(40, 40, 40);
    --fontBase : white;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--backDark);
    color: var(--fontBase);
}
body.header{
    border-bottom: solid 1px var(--fontBase);
}