@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --bg: white;
    --bg_header: rgba(255, 255, 255, 0.9);
    --bg_dark: rgb(230, 230, 230);
    --fontBase: black;
    --fontTitle: black;
    --Hue: 176;
    --main_color: hsl(var(--Hue), 80%, 45%);
    --accent_color_light: hsl(var(--Hue), 100%, 30%);
    --accent_color_medium: hsl(var(--Hue), 80%, 45%);
    --accent_color_dark: hsl(var(--Hue), 60%, 30%);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    background-color: var(--bg);
    color: var(--fontBase);
    overflow-x: hidden;
}

a {
    color: var(--accent_color_dark);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--accent_color_medium);
}

.header {
    background-color: var(--bg_dark);
}

.header-nav a {
    color: var(--fontBase);
    text-decoration: none;
    font-weight: normal;
    display: block;
}

.header-nav a>* {
    display: inline-block;
    vertical-align: top;
    height: 2.5em;
}

.nav-text {
    padding: .5em 0 .5em 0;
}

.header-nav a:hover {
    background-color: var(--bg);
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    color: var(--accent_color_light);
    box-shadow: 0 0 .25em var(--accent_color_medium);
}
.header-nav{
    transform: translate(0, 5em);
}
.header-nav>ul {
    margin-top: 0;
    padding: 0;
}

.header-nav>ul ul {
    margin-top: 0px;
    padding-left: 1.5em;
}

.header-nav>ul li {
    list-style: none;
    padding-left: .5em;
    vertical-align: middle;
}

.header-nav img {
    height: 2.5em;
}

.head-img {
    z-index: 0;
}

.blankDiv {
    height: calc(50vh - 100px);
}

.head-img img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

header {
    background-color: var(--bg_header);
    position: sticky;
    height: 100px;
    top: 0;
    z-index: 2;
    box-shadow: 0 .3em .3em rgba(0, 0, 0, 25%);
}

.title {
    display: block;
    margin: 0 auto;
    width: 100vw;
    font-weight: 100;
}

h1 {
    border-bottom: 1px solid var(--main_color);
    width: 50vw;
    display: block;
    margin: 10px auto 5px auto;
    padding-bottom: 5px;
    color: var(--fontTitle);
    font-weight: inherit;
}

h2,
h3 {
    font-weight: 100;
}

.subtitle,
h1 {
    text-align: center;
}

.subtitle {
    padding-top: 10px;
}

aside {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 10;
}

iframe {
    border: 0;
    overflow: hidden;
    width: 20vw;
    height: 100%;
}

.navbar iframe {
    display: none;
    box-shadow: 0 0 .5em rgba(0, 0, 0, 50%);
}

.navbar:hover iframe {
    display: inline-block;
}
.navbar:hover img{
    visibility: hidden;
}
.navbar img{
    height: 100%;
}
main {
    background-color: var(--bg);
    display: block;
    margin: 0 auto;
    margin-top: 50vh;
    width: 83vw;
    z-index: 1;
}

section {
    border-top: 1px solid var(--main_color);
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

article {
    padding: 0px 10px;
}

p {
    text-align: justify;
    text-indent: 5em;
}

footer {
    height: 12.5vh;
    width: 100%;
}



/* ANIMATIONS */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%) scaleX(1) scaleY(1);
        transform-origin: 100% 50%;
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: .9;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: .9;
    }

    100% {
        transform: translateX(-1000px) scaleX(2) scaleY(0.2);
        transform-origin: 100% 50%;
        filter: blur(40px);
        opacity: 0;
    }
}

.navbar iframe {
    animation: slideOutLeft 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.navbar:hover iframe {
    animation: slideInLeft 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}