/*@import url('https://fonts.google.com/);*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --backDark: rgb(40, 40, 40);
    --bg_header: rgb(40, 40, 40);
    --bg_nav: hsl(var(--Hue), 100%, 45%);
    --fontBase: white;
    --Hue: 202;
    --main_color: hsl(var(--Hue), 100%, 45%);
    --accent_color: hsl(var(--Hue), 100%, 45%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--backDark);
    color: var(--fontBase);
}

a {
    color: hsl(var(--Hue), 80%, 50%);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: hsl(var(--Hue), 80%, 80%);
}

.header-nav {
    background-color: var(--bg_nav);
}

.header-nav a {
    color: var(--fontBase);
    text-decoration: none;
    font-weight: normal;
    display: block;
}

.header-nav a:hover {
    color: hsl(var(--Hue), 100%, 45%);
    background-color: var(--fontBase);
}


.header-nav>ul {
    margin-top: 0;
    padding: 0;
}

.header-nav>ul ul {
    margin-top: 0px;
    padding-left: 1.5em;
}

.header-nav>ul li {
    list-style: none;
    padding-left: .5em;
}

.header-nav img {
    height: 2.5em;
}

header{
    background-color: var(--bg_header);
}

.title {
    border: 2px solid green;
    display: block;
    margin: 0 auto;
    width: 83vw;
}

h1 {
    border-bottom: 1px solid grey;
    width: 50vw;
    display: block;
    margin: 10px auto 5px auto;
    padding-bottom: 5px;
}

.subtitle,
h1 {
    text-align: center;
}

.subtitle {
    padding-top: 10px;
}

aside {
    position: fixed;
    top: 12.5vh;
    height: 75vh;
    border: 2px solid blue;
}

iframe {
    border: 0;
    overflow: hidden;
    width: 20vw;
    height: 100%;
}

.navbar iframe {
    border: 2px solid red;
    display: none;
}

.navbar:hover iframe {
    display: block;
}

main {
    border: 2px solid yellow;
    display: block;
    margin: 0 auto;
    width: 83vw;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

article {
    padding: 0px 10px;
}

p {
    text-align: justify;
    text-indent: 5em;
}

footer {
    border: 1px solid orange;
    position: fixed;
    bottom: 0;
    height: 12.5vh;
    width: 100%;
}



/* ANIMATIONS */
@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}

.navbar iframe {
    animation-name: slideOutLeft;

    animation-duration: 0.25s;
    animation-fill-mode: both;
}

.navbar:hover iframe {
    animation-name: slideInLeft;

    animation-duration: 0.25s;
    animation-fill-mode: both;
}